footer {
  .container {
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
  }

  p {
    text-decoration: underline;
  }

  .contact {
    display: flex;
    justify-content: center;
  }

  a {
    margin: 10px;
    padding: 0px;
    font-size: 0px;
  }
}
