@import "../base/colores";

header {
  background-color: $color-fondo;
  font-family: "Inter", sans-serif;

  .container-mobile {
    display: flex;
  }

  .container-desktop {
    display: none;
  }

  .header-ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }

  li {
    list-style: none;
  }

  a {
    color: black;
  }

  i {
    font-size: 18px;
  }

  .imgHeader {
    width: 80px;
    border-radius: 15px;
  }
}

@media (min-width: 720px) {
  header {
    .container-mobile {
      display: none;
    }

    .container-desktop {
      display: flex;

      .header-ul {
        justify-content: flex-start;

        form {
          width: 250px;
          margin-left: 60px;
        }

        input[type="search"] {
          width: 250px;
          height: 35px;
          font-size: 16px;
          padding: 0px 20px 0px 40px;
          border-radius: 40px;
          outline: none;
          border: solid rgb(117, 117, 117) 2px;
          background: url("../../img/Search.png") 7px center no-repeat;
        }
      }

      .header-menu {
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: flex-end;

        li {
          margin: 0px 20px;
        }

        a {
          font-size: 20px;
          text-decoration: none;

          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}
