@import "../base/colores";

#portadaSale {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  background-image: url(../Images/Sale.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;

  .container {
    text-align: center;
    width: 87%;
  }

  h2 {
    background-color: #890c0c;
    color: rgb(243, 228, 228);
    padding: 10px;
  }

  .carta {
    margin: 40px 0px;

    img {
      border-radius: 15px;
      justify-content: center;
      align-items: center;
      width: 60%;
      padding: 4px;
    }

    p {
      margin: 6px;
    }

    del {
      color: rgb(216, 21, 21);
    }

    button {
      background-color: #f5ece1;
      color: black;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

#saleCatalogo {
  .productsDesktop {
    display: none;
  }
}

#portadaSale {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  background-image: url(../../img/Sale.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
}

#offers {
  .container {
    text-align: center;
    width: 87%;
  }

  h2 {
    background-color: #890c0c;
    color: rgb(243, 228, 228);
    padding: 10px;
  }

  .carta {
    margin: 40px 0px;

    img {
      border-radius: 15px;
      justify-content: center;
      align-items: center;
      width: 60%;
      padding: 4px;
    }

    p {
      margin: 6px;
    }

    button {
      background-color: #f5ece1;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      color: black;
      font-size: 24px;
      padding: 6px 30px;
      border: none;
      border-radius: 5px;
    }
  }
}
